<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link
    href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"
    type="application/atom+xml"
    rel="alternate"
    title="{{ site.title }} Feed">
{% endunless %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
{% comment %} awesome font link source: https://cdnjs.com/libraries/font-awesome {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/brands.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css">
<!-- tailwindcss -->
{% comment %} disabled, becasuse it is not recommended to be used in production. {% endcomment %}
{% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
<script>
  tailwind.config = {
    corePlugins: {
      preflight: false,
    },
    theme: {},
    variants: {},
    plugins: [],
  }
</script>

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}